<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MsSQL">
      <section name="Database" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <MsSQL>
    <Database>
      <add key="server" value="SHALEENA-HEYN\SQLEXPRESS" />
      <add key="database" value="PatchMaster" />
      <add key="username" value="sa" />
      <!--<add key="password" value="4l/glHsrtdsJ1UjbryqKvQ==" />-->
      <add key="password" value="Welcome123" />
      <add key="integratedSecurity" value="true" />
      <add key="connecttimeout" value="15" />
      <!--<add key="connectionmaxpoolsize" value="100" />
    <add key="c</MsSQL>onnectionminpoolsize" value="20" />-->
    </Database>
  </MsSQL>

  <appSettings>
    <add key="XmlQueryPath" value="C:\Users\Dell Admin\Documents\Project Apps\GitHub\Patch-Master\Patch-Master\Patch-Master\DbContext\XML\"/>
    <add key ="TimeOut" value="1000"/>
	  <add key="ExcelPatch" value="C:\Users\Dell Admin\Documents\Project Apps\GitHub\Patch-Master\PMQueryRetrievals\"/>
  </appSettings>
</configuration>